# Node dependencies and build output
node_modules/
.next/
out/
build/
dist/
.env*.local

# Rust compilation output
/backend/target/


# IDE & System files
.DS_Store
*.log
.vscode/
.idea/
backend/.env
